.header{
    width: 100%;
    background-color: #00435e;
    padding:33px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-wrap: wrap;
    /* background-color: #00435e34; */
}